<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/style.css">
		<title>{{ title }}</title>
	</head>
	<body>
		<img src="/static/nasa-oberon.jpg">
		<h1>{{ title }}</h1>
		<p>{{ message }}</p>
		<p>Running in <mark>{{ environment }}</mark> environment.</p>
		<ul>
			<li><a href="/">Template example</a></li>
			<li><a href="/api">JSON API example</a></li>
			<li><a href="/forms">Forms example</a></li>
			<li><a href="/database">Database example</a></li>
		</ul>
		<p>10 Moons of the Solar System</p>
		<ul>
			{% for _, moon in ipairs(moons) do %}
			<li>{{ moon }}</li>
			{% end %}
		</ul>
	</body>
</html>
